@import "../../shared/styles/mixins.pcss";

.footer {
  padding-block: 16px;
  box-shadow: var(--box-shadow);

  @media (--mobile) {
    padding-block: 8px;
  }

  &__inner {
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
  }

  &__copyright {
    color: var(--color-gray);
  }
}