<%
const {
	extraClasses = '',
} = { ...arguments?.[0] }

const menuItems = [
	{
		href: '/chats',
		label: 'Chats',
	},
	{
		href: '/profile',
		label: 'Profile',
	},
	{
		href: '/sign-in',
		label: 'Sign In',
	},
	{
		href: '/sign-up',
		label: 'Sign Up',
	},
]
%>

<header class="header <%= extraClasses %>">
	<div class="header__inner container">
		<%- include('../../shared/ui/logo/template.ejs', { extraClasses: 'header__logo' }) %>
		<%- include('./components/menu/template.ejs', { items: menuItems }) %>
	</div>
</header>
