<div class="app">
	<%- include('../widgets/header/template.ejs', { extraClasses: 'app__header' }) %>

	<main class="app__content container">
		<%# include('../pages/SignInPage/template.ejs') %>
		<%# include('../pages/SignUpPage/template.ejs') %>
		<%# include('../pages/ChatPage/template.ejs') %>
		<%- include('../pages/ProfilePage/template.ejs') %>
		<%# include('../pages/Error404Page/template.ejs') %>
		<%# include('../pages/Error5XXPage/template.ejs') %>
	</main>

	<%- include('../widgets/footer/template.ejs', { extraClasses: 'app__footer' }) %>
</div>